
<div class="container">

    <div class="row mt-3 mb-3 justify-content-center">	
        <div class="col-2">
          <h1>Alunos</h1>
        </div>

        <div class="col-7"></div>
      
        
        <div class="col-2">
            <a routerLink="/aluno-novo" class="btn btn-primary btn-lg">Novo</a>
        </div>
       
    </div>

    <div class="row justify-content-center mt-3">

        <div class="col-10">

            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Período</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let obj of alunos">
                    <th scope="row">{{obj.id}}</th>
                    <td>{{obj.nome}}</td>
                    <td>{{obj.curso}}</td>
                    <td>{{obj.periodo}}</td>
                    <td>  <button type="button" class="btn btn-warning mr-1">Editar</button> <button type="button" class="btn btn-danger">Excluir</button>  </td>
                  </tr>

                </tbody>
              </table>


        </div>


    </div>



</div>


