<div class="container">

  <div class="row mt-3 mb-3 container-fluid justify-content-center">	
  
    <div class="col">
  
      <div class="panel panel-default bg-primary border rounded">
        <div class="panel-heading  text-center text-light"><h1>Alunos da Tech School</h1></div>
        <div class="panel-body"></div>
      </div>
  
      
    </div>
    
  </div>
  

  <div class="row mt-3 mb-4 justify-content-center">


    <div class="card ml-3 mb-3" style="width: 18rem;" *ngFor="let obj of alunos">

      <img [src]="obj.foto" class="card-img-top" alt="...">
      <div class="card-body">

        <h5 class="card-title">
          {{obj.nome}}
        </h5>

        <p class="card-text">
          <strong>Curso:</strong> {{obj.curso}}
        </p>

        <a routerLink="/aluno-detalhes/{{obj.id}}" class="btn btn-primary">Detalhes</a>

      </div>
    </div>


  </div>



</div>